@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --tipografia: 'Montserrat', sans-serif;
}

body *{
    font-family: var(--tipografia);
}

#titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

.navbar-rest {
    background-color: #3e3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-rest img {
    margin: 0 1rem;
    
}

.navbar-rest div h5 {
    margin: 10px;
}

.navbar-rest *{
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

.size-img-logo {
    width: 50px;

}

.footer {
    background-color: rgb(202, 202, 202);
    border: 2px solid #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    margin-top: 2rem;
    font-size: 1rem;
}

.footer section img {
    border-radius: 50%;
}