/* body {
    background-color: rgb(7, 204, 83);
}

a{
    text-decoration: none;
    color: 000;
    text-transform: lowercase;
}

.size_img {
    width: 150px;
    height: auto;
}

.texto1 {
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.img-red {
    border-radius: 50%;
}

.mapa {
    border: 49px solid #e65b5b !important;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contaier-reds img {
    border-radius: 50%;
    margin: 0 35px
}

.texto-info {
    color: #4fddf6;
}

td, tr, th {
    border: 1px solid #000;

}

table {
    border: 2px solid #fff

} */

/*  .navbar-rest span, 
    .navbar-rest p, 
    .navbar-rest ul {
    color: #fff;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --color-rojo: #c86161;
    --tamano-letra: 1.5rem;
    --tipografia: 'Montserrat', sans-serif;
}

body * {
    font-family: var(--tipografia);
}

.navbar-rest {
    background-color: #3e3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-rest img {
    margin: 0 1rem;
    
}

.navbar-rest div h5 {
    margin: 10px;
}

.navbar-rest *{
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul li {
    display: inline-block;
    margin: 0 20px;
}

.size-img-logo {
    width: 50px;

}

.banner {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
    margin-top: 50px;
}

.container1 div p {
    padding-right: 25px;
    text-align: justify;
}

.container-products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.container-products div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 30%;
}

.productos div img {
    object-fit: cover;
    object-position: center;
}

.productos div p {
    text-align: justify;
}

[data-pie-pagina="true"] {
    background-color: var(--color-rojo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    font-size: var(--tamano-letra);
}

[data-pie-pagina="true"] section img {
    border-radius: 50%;

}

.btn-map {
    width: 350px;
    height: 60px;
    border-radius: 60px;
    background-color: #15ddf3;
    font-size: 2rem;
}

.map-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-map{
    transition: all 2s;
}

.btn-map:hover {   
    background-color: #3af315;
    font-weight: bold;
}