*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    padding-left: 5px;
    padding-bottom: 1rem;
}
header h1 {
    text-align: center;
    padding-bottom: 2rem;
}

main {
    padding-left: 5px;
}

main article {
    padding-bottom: 1rem;

}

main div {
    padding-top: 1rem;
    text-align: center;
}

main p {
    padding-bottom: 1rem;
}

#center_video div{
    text-align: center;
}